<p-table [value]="recursos" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Descripción</th>
            <th>Asignatura</th>
            <th>Nivel</th>
            <th>Tipo Recurso</th>
            <th>Fecha</th>
            <th>Creado por</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-recurso>
        <tr>
            <td>
                <p-button icon="pi pi-pen-to-square" [rounded]="true" [text]="true"></p-button>
                <p-button icon="pi pi-external-link" [rounded]="true" [text]="true"></p-button>
            </td>
            <td>{{ recurso.nombreRecurso }}</td>
            <td>{{ recurso.asignatura }}</td>
            <td>{{ recurso.nivel }}</td>
            <td>
                <p-tag [icon]="getIcon(recurso.tipoRecurso)" value="{{recurso.tipoRecurso}}" [styleClass]="getStyleColor(recurso.tipoRecurso)"></p-tag>
            </td>
            <td>{{ recurso.fechaCreacion | date:'mediumDate':'':'es-EC'}}</td>
            <td>{{ recurso.usuarioCreacion }}</td>
        </tr>
    </ng-template>
</p-table>

